<h2>Логи из контроллеров одним файлом</h2>

<p>
<%= link_to 'Вернуться в панель администратора', admin_root_path %>

<%= 
link_to(
  'Показать все логи из контроллера постранично', 
  admin_logs_from_controllers_path(params: filter_params) 
)
%>
</p>

<%= render "filter_form", url: admin_logs_from_controllers_all_path %>

<div>
    <% @logs.each do |log|%>
       <%= render "log", log: log %>
    <% end %>
</div>