/* from products/products.css */

body {
    text-align: center;
    font-size: 25px;
}

div {
    margin-bottom: 30px;
}

button, input {
    height: 40px;
    font-size: 25px
}


.label-text {
    font-weight: bold;
}

.input {
    margin-bottom: 10px;
}